body {
    background-color: lightgray;
    padding: 100px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    background-color: gray;
}

.column {
    flex: 0 0 auto;
}

.square {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px;
    border-color: lightgray;
    border-style: solid;
}

.square.drawn {
    background-color: red;
}